<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">


<listeners>
<listener class-name="Myframework_Scratch.Listeners"></listener>
</listeners>
  <test thread-count="5" name="MyNavigationTest">
    <classes>
      <class name="Myframework_Scratch.MyNavigationTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="LogInPageTitleValidationTest">
    <classes>
      <class name="Myframework_Scratch.LogInPageTitleValidationTest"/>
    </classes>
</test> <!-- Test -->
  <!--<test thread-count="5" name="LogInPageTitleValidationNegativeTest">
    <classes>
      <class name="Myframework_Scratch.LogInPageTitleValidationNegativeTest"/>
    </classes>
  </test>         --><!-- Test -->  
  
</suite> <!-- Suite -->
